/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 100%/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: .3s;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:focus {
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.0736rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.728rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.44rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 0.83333rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}
